<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="qlDienMayConnectionString1" connectionString="Data Source=DESKTOP-9R357LN\SQLEXPRESS;Initial Catalog=qlBanTruyen;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>